// E-comerce colors
.btn-c{
    background-color: #e8d3c3;
}
.btn-c:hover{
    color: #fff;
}
.c{
    color: #a58b78;
}
// pralince colors
.btn-p{
    background-color: #BD9B60;
}
.btn-p:hover{
    color: #fff;
}
.p{
    color: #BD9B60;
}
// newlyeds colors
.btn-n{
    background-color: #c9a203;
}
.btn-n:hover{
    color: #fff;
}
.n{
    color: #c9a203;
}
// AJil color
.btn-a{
    background-color: #0549eb;
}
.btn-a:hover{
    color: #fff;
}
.a{
    color: #0549eb;
}
// Curd colors
.btn-cu{
    background-color: #38984a;
}
.btn-cu:hover{
    color: #fff;
}
.cu{
    color: #38984a;
}
// Smart_manager_Colors
.btn-s{
    background-color: #d55703;
}
.btn-s:hover{
    color: #fff;
}
.s{
    color: #d55703;
}
// deliver_sass colors
.btn-sa{
    background-color: #fdcb35;
}
.btn-sa:hover{
    color: #fff;
}
.sa{
    color: #fdcb35;
}
// Food colors
.btn-f{
    background-color: #ff5600;
}
.btn-f:hover{
    color: #fff;
}
.f{
    color: #ff5600;
}
// Social colors
.btn-soc{
    background-color: #0d6efd;
}
.btn-soc:hover{
    color: #fff;
}
.soc{
    color: #0d6efd;
}
// movies colors
.btn-mov{
    background-color: #b1b1b1;
}
.btn-mov:hover{
    color: #fff;
}
.mov{
    color: #b1b1b1;
}
// not app colors
.btn-not{
    background-color: #e17cce;
}
.btn-not:hover{
    color: #fff;
}
.not{
    color: #e17cce;
}








