.skills{
    height: 95vh;
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: column;
    h1{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0d6efd;
        color: transparent;
        position: relative;
        top: 50px;
        overflow: hidden;
        transition: 0.3s;
        &::before{
            overflow: hidden;
            content: "Skills";
            width: 0;
            position:absolute;
            top: 0;
            left: 0;
            transition: 0.3s;
            -webkit-text-fill-color: #0d6efd;
        }
        &:hover::before{
            width: 100%;
        }
    }
    .info{
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >div{
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 50px;
                color: #e96228;
                padding: 0;
                margin-right: 10px;
                &.css,&.react{
                    color: #2965f1;
                }
                &.js{
                    color: #efd81d;
                }
                &.boot{
                    color: #8912fc;
                }
                &.scss{
                    color: #c76494;
                }
            }
            .progress{
                position:relative;
                flex-grow: 1;
                .progress-bar{
                    background-color: #e96228 !important;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.css,&.react{
                        background-color: #2965f1 !important;
                    }
                    &.js{
                        background-color: #efd81d !important;
                    }
                    &.boot{
                        background-color: #8912fc !important;
                    }
                    &.scss{
                        background-color: #c76494 !important;
                    }
                }            }
        }
    }
}
@media (max-width:992px) {
    .skills{
        .info{
            >div{
                width: 90%;
            }
        }
    }
}