@font-face {
  font-family: 'CustomFont';
  src: url('../public/Font/NotoSans-Black.ttf'),
  url('../public/Font/NotoSans-Bold.ttf'),
  url('../public/Font/NotoSans-Light.ttf'),
  url('../public/Font/NotoSans-Medium.ttf');
}
body,*{
  margin: 0;
  padding: 0;
  font-family: 'CustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root{
  overflow-x: hidden;
  overflow-y: hidden;
}